/* font-family: 'Karla', sans-serif;
font-family: 'Markazi Text', serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* _____Header_____  */
.header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 60px 0;
}

.logo-container img {
  height: 80px;
  width: 270px;
}

/* _____Nav Links_____  */

nav {
  width: 50%;
}
nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  list-style: none;
  height: 100%;
}
nav ul li a {
  text-decoration: none;
  color: #495e57;
  font-family: "Karla", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
nav ul li a:hover {
  text-decoration: none;
  transition: .4s;
  color: #F4CE14;
  font-size: 19px;
  font-weight: 800;
  border-bottom: 2px solid #F4CE14;
}
